ul {
  list-style: none;
}

li {
  border: 1px solid black;
  text-decoration: none;
  margin: 2px 0;
  padding: 5px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label, input {
  width: 100%;
}

.search {
  margin-top: 10px;
}

.jumbotron,
.panel-default > .panel-heading {
  background-color: black;
  color: white;
}
